@import url("https://fonts.googleapis.com/css?family=Open+Sans:400&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");

body {
  background: #ffffff;
  margin: 0;
  margin-top: 80px;
  height: 100%;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #f5f4f4;
}

.centered {
  text-align: center;
}

.navbar {
  background-color: gray;
  border-radius: 0px 0px 30px 30px;
}

#wrapper {
  max-width: 1024px;
  min-height: calc(100vh - 157px);
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

#install .install,
#install form .card:not(:first-child) {
  margin-top: 30px;
}

#status-container .input-group:last-child {
  margin-bottom: 0px !important;
}

.status {
  float: right;
  font-size: 1.05em;
}

#status-big {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.3em;
}

.timeline {
  position: relative;
  padding: 0 0px 10px;
  margin-top: 4px;
}

.timeline .line {
  position: absolute;
  width: 2px;
  display: block;
  background: #c2c2c2;
  top: 0px;
  bottom: 0px;
  margin-left: 31px;
}

.timeline .servicelist {
  position: relative;
  margin: 10px 0px 21px 70px;
  clear: both;
}

.timeline .card {
  position: relative;
  margin: 10px 0px 21px 70px;
  clear: both;
}

.timeline .card::before {
  position: absolute;
  display: block;
  top: 8px;
  left: -24px;
  content: "";
  width: 0px;
  height: 0px;
  border: inherit;
  border-width: 12px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.timeline .card .card-colore.icon * {
  /*This shouldn't be relative in size...*/
  font-size: 20px;
  vertical-align: middle;
  line-height: 40px;
}
.timeline .card .card-colore.icon {
  position: absolute;
  left: -59px;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 50%;
  text-align: center;
  float: left;
}

.timeline .card-outline {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}

.timeline .card-outline .panel-body {
  padding: 10px 0px;
}

.timeline .line::before {
  top: -4px;
}

.timeline .line::before {
  content: "";
  position: absolute;
  left: -4px;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background: #c2c2c2;
}

/* Footer */
#footerwrap {
  border-radius: 30px 30px 0px 0px;
  min-height: 60px;
  padding-top: 15px;
  padding-bottom: 10px;
  background: gray;
}

#timeline h3 {
  margin-top: 40px;
  padding-left: 70px;
}

#login-form {
  padding-top: 20px;
}

#time input {
  max-width: 100%;
}

.card.border-primary input#title {
  width: 80%;
}

.card:not(.border-primary) input#title {
  width: 100%;
}

.card:not(.border-primary) #time,
.card:not(.border-primary) #end_time_wrapper {
  display: none;
}

#time::-moz-placeholder,
#title::-moz-placeholder {
  opacity: 1;
}

article.card input {
  background: transparent;
  border: none;
  border-bottom: 1px white outset;
}

article.card textarea {
  width: 100%;
  background: transparent;
  border: none;
  resize: vertical;
  min-height: 100px;
}

#type {
  margin-left: 70px;
}

#wrapper.admin #timeline .service input[type="checkbox"] {
  margin-right: 4px;
  margin-top: 0;
  vertical-align: middle;
}

#status-container.error input {
  box-shadow: 0px 0 2px 1px rgba(255, 0, 0, 1);
}

.delete {
  margin-left: 5px;
  font-size: 1.2em;
  color: white;
  line-height: 25px;
}

.delete:hover,
.delete:focus {
  color: #eee;
}

.new-service {
  width: 100%;
  min-width: 250px;
}

.delete-service {
  color: red;
  font-size: 1em;
}

.service label {
  margin-bottom: 0;
}

.install {
  padding-bottom: 25px;
}

#footerwrap .dropdown-menu {
  background: gray;
}

#footerwrap .dropdown-menu a {
  color: white;
  width: 100%;
  padding: 2px 5px;
  display: block;
  transition: 125ms ease-in-out background-color;
  background-color: gray;
}

#footerwrap .dropdown-menu a:hover {
  background-color: #2f8ad8;
}

#footerwrap .input-group.dropup.mb-3 {
  display: block;
}

#footerwrap .input-group.dropup.mb-3 img {
  max-height: 20px;
  max-width: 25px;
  margin-right: 5px;
  vertical-align: middle;
}

.col-md-4.text-left,
.col-md-4.text-right {
  line-height: 2.5;
}

body .h1,
body .h2,
body .h3,
body h1,
body h2,
body h3 {
  margin-top: 18px;
}

.settings-header {
  padding-top: 20px;
}

.settings-header .float-start h3 {
  margin: 0;
}

.row.user .input-group {
  width: 100%;
  margin-bottom: 5px;
}

.row.user .form-name {
  width: 50%;
  float: left;
}

label.form-name {
  line-height: 20px;
}
.panel .panel-footer .label {
  display: inline-block;
}
/* The switch - the box around the slider */
#switch {
  height: auto;
  line-height: 34px;
  font-size: 25px;
}

#switch {
  margin-bottom: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
