@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,700);

body { 
	background: #ffffff; 
	margin: 0; 
	height: 100%; 
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}

#status-container
{
	border-radius: 0;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

#status-container .item:last-child
{
	border: none;
}

#status-container .item{
	border-bottom: 1px solid #e0e0e0;
}

#status-big
{
	float: none;
	width: 100%;
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
	font-size: 28px
}

#wrapper{
	padding-left: 20%;
	padding-right: 20%;
}

.service{
	float: left;
	box-sizing: border-box;
	width:60%;
	min-width: 200px;
	padding: 15px 35px;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
}

.status{
	float: left;
	box-sizing: border-box;
	width:40%;
	min-width: 150px;
	padding: 15px 35px;
	text-align: right;
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
}


.status.success{
	color:#2fcc66;
}

.status.warning{
	color:#edaa16;
}

.status.danger{
	color:#e74c3c;
}

.status.primary{
	color:#3A72BD;
}

.panel-success{
	border-color:#2fcc66;
}
#footerwrap{
	display: none
}
.btn 
{
	display: none
}

h3{
	text-align: center;
}

.panel-heading.icon{
	width: 50px;
	float: left;
	border: none;
}

h2.panel-title{
	float: left;
}

.panel,.panel-heading,.panel-footer{
	border-width: 3px
}